/* .pay_container{
    max-width: 186rch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pay{

    max-width: 93.5rch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
} */


